.playlist-carousel {
  width: 90% !important;
  margin: 2.5px auto 0px auto !important;

  img {
    display: inline-block;

    &:nth-child(n + 2) {
      margin-left: 15px;
    }
  }

  //Overrides slick-slider
  .slick-slide {
    text-align: center;
  }
}
