.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 70px;
  background-color: #2288cc;
  align-items: center;

  .logo > a {
    color: #fff;
    margin-left: 20px;
  }
  .block-two {
    display: flex;
    align-items: center;
  }
  .hi {
    color: #fff;
    margin-right: 80px;
  }
}
