.blueshift-tooltip {
  .rc-tooltip-content {
    .rc-tooltip-arrow {
      border-top-color: #6fbb98;
    }
    .rc-tooltip-inner {
      border-radius: 0;
      min-height: 0;
      background: #6fbb98;
      color: #000;
    }
  }
}
